.lt-logo {
  text-align: center;
}

.bg {
  background-color: #210909;
}

.desc {
  margin: 100px;
  color: #b8b8b8;
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.center {
  padding-top: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
