.lt-logo{
    text-align: center;
}

.bg{
    background-color:#210909;    
}

.desc{
    margin: 100px;
    color:#B8B8B8;
    font-size: 40pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}