.bodytag{
    /* background-image: url("desktopBG.png"); */
    /* background-repeat: no-repeat; */
    /* background-size:100%; */
    overflow-x: hidden;
    background: #ffeb00;
    font-family: 'Noto Sans JP', sans-serif;
    font-size:20px;
}
.picout{
    height:100%;
}
@media only screen and (max-width: 600px) {
    .picout {height: 60%;}
    .bodytag{
        font-size: 15px;
    }
    .tag{
        font-size:15px;
    }
    #logoid{
        width:30%;
        display: block;
        margin-left:38%;
        margin-right:32%;
    }
  }
p{
    padding: 10px;
}
.logo{
    margin-top:2%;
    font-size:20px;
    width:18%;  
}
.tagline{
    position: relative;
    top:2%;
    left:42.5%;
    font-family: 'Arimo', sans-serif;
}

.outside{
    width:68%;
    border:6px solid white;
    margin-left:auto;
    margin-right: auto;
    padding:1%;
    border-bottom: none;
    word-spacing: 4px;
    padding-left:2%;
    padding-right:3%;
}
a{
    padding:0;
    border:none;
    width:20%;
    display:block;
    margin-left:auto;
    margin-right:auto;

}
.regbutton{
    width:100%;
    padding: 0px;
    border:none;
}
b{
    background: white;
    padding: 4px;
    font-size:20px;
}
.bottom-left{
    width:18%;
    position:fixed;
    top:65%;
    left:0%;
}
.bottom-right{
    width:18%;
    position:fixed;
    top:69%;
    right:-5%;
}
.top-left{
    width:15%;
    position:fixed;
    top:0px;
}
.top-right{
    width:15%;
    position:fixed;
    left:84.9%;
    top:0px;
}
h5{
   text-align:center;
  
}
.photos{
    width:68%;
    border:6px solid white;
    margin-left:auto;
    margin-right: auto;
    padding:1%;
    border-top: none;
    word-spacing: 4px;
    padding-left:2%;
    padding-right:3%;
    text-align:center;
    margin-top: 30px;

}
.dots{
    position: relative;
    left:19.36%;
    top:50px;
    width:65px;
}
#myCarousel{
    height:70%;
}
/* 
.container{
    padding-left: 0;
    padding-right: 0;
} */
/* .container-fluid{
    padding-left: 0 px;
    padding-right: 0 px;
} */

/* .container{ */
    /* padding-left: 0; */
    /* padding-right: 0; */
/* } */

/* .click-1,
.click-2,
.click-3{
    height:100%;
} */

.btn3d {
    transition:all .08s linear;
    position:relative;
    outline:medium none;
    -moz-outline-style:none;
    border:0px;
    margin-right:10px;
    margin-top:15px;
}
.btn3d:focus {
    outline:medium none;
    -moz-outline-style:none;
}
.btn3d:active {
    top:9px;
}
.btn-default {
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #adadad, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#fff;
}

